<main class="min-h-screen lg:flex">
  <HackScraperWeb.Components.Sidebar.sidebar current_user={@current_user} />

  <div class="lg:hidden fixed top-4 left-4 z-50">
    <HackScraperWeb.Components.Sidebar.mobile_menu_button class="bg-white shadow-lg" />
  </div>

  <div class="flex-1 lg:ml-0">
    <div class="p-4 sm:p-6 lg:p-8 pt-16 lg:pt-4">
      <.flash_group flash={@flash} />
      {@inner_content}
    </div>
  </div>
</main>
