<main
  class="flex items-center justify-center p-4"
  style="min-height: calc(100vh - 6rem - 135px) // footer height"
>
  <div class="w-full max-w-sm">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
