<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Find your next Hackathon" suffix=" · HackScraper">
      {assigns[:page_title]}
    </.live_title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased flex flex-col min-h-screen">
    {@inner_content}

    <div class="grow"></div>
    <footer class="bg-gray-900 py-12 w-full">
      <div class="text-center mx-auto px-4 sm:px-6 lg:px-8">
        <h3 class="text-2xl text-white font-bold mb-4">HackScraper</h3>
        <p class="text-gray-400 mb-6">
          Find your next hackathon here!
        </p>
        <div class="flex justify-center space-x-6">
          <.link
            navigate={~p"/hackathons"}
            class="text-gray-400 hover:text-white transition-colors"
          >
            Hackathons
          </.link>
          <.link href={~p"/about"} class="text-gray-400 hover:text-white transition-colors">
            About
          </.link>
        </div>
      </div>
    </footer>
  </body>
</html>
