@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

table img {
    max-width: 100px;
    max-height: 100px;
}

th,
td {
    padding: 5px;
}

table .url {
    display: inline-block;
    max-width: min(20vw, 60ch);
    max-height: 100px;
    overflow: hidden;
    line-height: 1.4;
    font-size: small;
}

table .text {
    max-height: 100px;
    overflow-y: auto;
    line-height: 1.4;
    font-size: small;
}

.link {
    @apply text-blue-600 hover:text-purple-600 hover:underline;
}

.phx-drop-target-active {
    @apply bg-blue-50 border-blue-500 border-[3px];
}